<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{Login}"></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<button type="button" onclick="location.href=location.pathname + '?locale=ko'" th:text="#{Korean}"></button>
<button type="button" onclick="location.href=location.pathname + '?locale=en' " th:text="#{English}"></button>
<h1 th:text="#{Login}"></h1>
<p th:text="#{LoginMessage}"></p>
<div class="login-container">
    <form th:method="post" th:action="@{/login/}" th:object="${loginRequest}" >
        <p><input type="text" name="id" th:attr="placeholder=#{ID}"  />
        <p th:each="item : ${#fields.errors('id')}" th:text="${item}" class="error-message" />
        </p>
        <p><input type="password" name="password" th:attr="placeholder=#{Password}" />
        <p th:each="item : ${#fields.errors('password')}" th:text="${item}" class="error-message" />

        <p  th:if="${not #strings.isEmpty(message)}" th:text="${message}" class="error-message" ></p>

        <p> <button type="submit" th:text="#{Login}"></button></p>
    </form>
</div>
</body>
</html>
